<H2>
    ChoreList: <%= @chore_list.name %>   </h2>
    <% @chore_list.tasks.each do |t| %>
        <h4><%= t.name %> </h4>
        <%= t.details %> <br />
          ["Complete Button"]
        <!-- - <%= link_to "Edit", edit_task_path(t) %> --> </h4>
        
    <% end %>
